<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <proxies>
    <proxy>
      <active>false</active>
      <host>lo</host>
      <protocol>http</protocol>
      <port>8081</port>
      <nonProxyHosts>blue:*mofokom*</nonProxyHosts>
    </proxy>
  </proxies>
  <mirrors>
    <mirror>
      <name>blue</name>
      <mirrorOf>dev</mirrorOf>
      <url>http://blue:8081/nexus/content/repositories/snapshots/</url>
      <id>blue</id>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>dev</id>
      <repositories>
        <repository>
          <id>dev-snapshot</id>
          <url>dev</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>dev-releases</id>
          <url>dev</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
    <profile>
      <id>mofokom</id>
      <repositories>
        <repository>
          <id>mofokom-public-snapshot</id>
          <url>http://www.mofokom.biz/maven/snapshots-public</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>mofokom-public-release</id>
          <url>http://www.mofokom.biz/maven/releases-public</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>mofokom-cache</id>
          <url>http://www.mofokom.biz/maven/cache</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <!--
                <repository>
                    <id>flex-mojos-repository</id>
                    <url>http://repository.sonatype.org/content/groups/flexgroup/</url>
                    <releases> <enabled>true</enabled> </releases>
                    <snapshots> <enabled>false</enabled> </snapshots>
                </repository>
                -->
        <!--
                <repository>
                    <id>flex-mojos-internal-repository</id>
                    <url>http://repository.sonatype.org/content/groups/public/</url>
                    <releases> <enabled>true</enabled> </releases>
                    <snapshots> <enabled>true</enabled> </snapshots>
                </repository>
                -->
      </repositories>
      <pluginRepositories>
        <!--
                <pluginRepository>
                    <id>mofokom-plugin-public-snapshot</id>
                    <url>http://www.mofokom.biz/maven/snapshots-public</url>
                    <releases> <enabled>false</enabled> </releases>
                    <snapshots> <enabled>true</enabled> </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>mofokom-plugin-public-release</id>
                    <url>http://www.mofokom.biz/maven/releases-public</url>
                    <releases> <enabled>true</enabled> </releases>
                    <snapshots> <enabled>false</enabled> </snapshots>
                </pluginRepository>
                -->
        <!--
                <pluginRepository>
                    <id>flex-mojos-plugin-repository</id>
                    <url>http://repository.sonatype.org/content/groups/flexgroup/</url>
                    <releases> <enabled>true</enabled> </releases>
                    <snapshots> <enabled>false</enabled> </snapshots>
                </pluginRepository>
                
                <pluginRepository>
                    <id>flex-mojos-internal-plugins-repository</id>
                    <url>http://repository.sonatype.org/content/groups/public/</url>
                    <releases> <enabled>true</enabled> </releases>
                    <snapshots> <enabled>true</enabled> </snapshots>
                </pluginRepository>
                -->
      </pluginRepositories>
    </profile>
    <profile>
      <id>jboss-eap-repository</id>
      <repositories>
        <repository>
          <id>jboss-eap-repository</id>
          <url>file:///hold/jboss-eap-6.1.X-maven-repository</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jboss-eap-plugin-repository</id>
          <url>file:///hold/jboss-eap-6.1.X-maven-repository</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <!-- Configure the JBoss Community Maven repository -->
    <profile>
      <id>jboss-community-repository</id>
      <repositories>
        <repository>
          <id>jboss-community-repository</id>
          <url>http://repository.jboss.org/nexus/content/groups/public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jboss-community-plugin-repository</id>
          <url>http://repository.jboss.org/nexus/content/groups/public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>dev</activeProfile>
    <!--
          <activeProfile>mofokom</activeProfile>
          <activeProfile>jboss-eap-repository</activeProfile>
          <activeProfile>jboss-community-repository</activeProfile>
          -->
  </activeProfiles>
  <servers>
    <!--site server -->
    <server>
      <id>mofokom</id>
      <username>www-data</username>
      <privateKey>/home/wozza/.ssh/id_dsa</privateKey>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
      <configuration/>
    </server>
    <!--private repo server -->
    <server>
      <id>mofokom-private</id>
      <username>wozza</username>
      <password>{c39UApCCFG4HS6XZ2xjkn2sziTxpvCydGYjBHWyZxq4=}</password>
      <passphrase>{c39UApCCFG4HS6XZ2xjkn2sziTxpvCydGYjBHWyZxq4=}</passphrase>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
      <configuration/>
    </server>
    <!--public repo server -->
    <server>
      <id>mofokom-public-snapshot</id>
      <username>wozza</username>
      <password>{c39UApCCFG4HS6XZ2xjkn2sziTxpvCydGYjBHWyZxq4=}</password>
      <passphrase>{c39UApCCFG4HS6XZ2xjkn2sziTxpvCydGYjBHWyZxq4=}</passphrase>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
      <configuration/>
    </server>
    <server>
      <id>mofokom-public-release</id>
      <username>wozza</username>
      <password>{c39UApCCFG4HS6XZ2xjkn2sziTxpvCydGYjBHWyZxq4=}</password>
      <passphrase>{c39UApCCFG4HS6XZ2xjkn2sziTxpvCydGYjBHWyZxq4=}</passphrase>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
      <configuration/>
    </server>
    <server>
      <id>cache-local</id>
      <username>wozza</username>
      <password>{c39UApCCFG4HS6XZ2xjkn2sziTxpvCydGYjBHWyZxq4=}</password>
      <passphrase>{c39UApCCFG4HS6XZ2xjkn2sziTxpvCydGYjBHWyZxq4=}</passphrase>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
      <configuration/>
    </server>
    <server>
      <id>blue</id>
      <username>deployment</username>
      <password>password</password>
      <passphrase>password</passphrase>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
      <configuration/>
    </server>
  </servers>
</settings>
